## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [3]:
import os
import numpy as np
import pandas as pd

In [1]:
# 設定 data_path
dir_data = './Part01/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./Part01/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [10]:
print("row數:", app_train.shape[0])
print("column數:", app_train.shape[1])

row數: 307511
column數: 122

#### 列出所有欄位

In [11]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [14]:
#app_train.head()
app_train.iloc[0:200:2, 0:10]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5
10,100014,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0
12,100016,0,Cash loans,F,N,Y,0,67500.0,80865.0,5881.5
14,100018,0,Cash loans,F,N,Y,0,189000.0,773680.5,32778.0
16,100020,0,Cash loans,M,N,N,0,108000.0,509602.5,26149.5
18,100022,0,Revolving loans,F,N,Y,0,112500.0,157500.0,7875.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0
22,100026,0,Cash loans,F,N,N,1,450000.0,497520.0,32521.5
24,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5
28,100033,0,Cash loans,M,Y,Y,0,270000.0,790830.0,57676.5
30,100035,0,Cash loans,F,N,Y,0,292500.0,665892.0,24592.5
32,100037,0,Cash loans,F,N,N,0,90000.0,199008.0,20893.5
34,100040,0,Cash loans,F,N,Y,0,135000.0,1125000.0,32895.0
36,100043,0,Cash loans,F,N,Y,2,198000.0,641173.5,23157.0
38,100045,0,Cash loans,F,N,Y,0,99000.0,247275.0,17338.5
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5
44,100051,0,Cash loans,M,N,Y,0,202500.0,661702.5,48280.5
46,100053,0,Cash loans,F,N,Y,0,202500.0,305221.5,17649.0
48,100055,0,Cash loans,F,N,N,0,130500.0,1350000.0,37255.5
50,100058,0,Revolving loans,F,N,Y,0,54000.0,135000.0,6750.0
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0
54,100062,0,Cash loans,M,Y,N,0,81000.0,675000.0,32472.0
56,100064,0,Cash loans,F,N,N,0,67500.0,298728.0,15381.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5
...,...,...,...,...,...,...,...,...,...,...
140,100162,0,Cash loans,F,N,Y,0,112500.0,547344.0,18216.0
142,100164,0,Cash loans,F,Y,N,1,450000.0,407434.5,43362.0
144,100166,0,Cash loans,F,N,Y,3,58500.0,152820.0,15241.5
146,100173,0,Cash loans,F,N,N,0,117000.0,781920.0,26725.5
148,100175,0,Cash loans,F,N,Y,1,202500.0,1251072.0,45067.5
150,100177,0,Cash loans,M,N,N,1,112500.0,312682.5,33309.0
152,100179,0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5
154,100181,1,Cash loans,F,N,Y,0,157500.0,245619.0,12667.5
156,100183,0,Cash loans,F,N,Y,0,103500.0,239850.0,23494.5
158,100186,0,Cash loans,F,N,Y,0,117000.0,269550.0,13095.0
160,100189,0,Cash loans,F,N,Y,0,135000.0,263844.0,14440.5
162,100191,0,Cash loans,F,N,Y,0,112500.0,544491.0,17563.5
164,100193,0,Cash loans,F,Y,N,0,225000.0,296280.0,15124.5
166,100195,0,Cash loans,M,Y,Y,0,90000.0,336150.0,9373.5
168,100197,0,Cash loans,F,N,N,2,157500.0,497520.0,28692.0
170,100199,0,Cash loans,F,N,Y,0,112500.0,269550.0,18891.0
172,100201,0,Cash loans,F,N,Y,1,180000.0,675000.0,36747.0
174,100203,0,Cash loans,F,N,N,0,54000.0,119925.0,11097.0
176,100205,0,Cash loans,F,N,Y,0,63000.0,808650.0,26217.0
178,100207,0,Cash loans,F,N,Y,0,157500.0,700830.0,22738.5
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0
182,100211,0,Cash loans,M,N,N,3,225000.0,746280.0,49873.5
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5
186,100216,0,Cash loans,F,N,N,0,90000.0,67500.0,6705.0
188,100218,0,Cash loans,M,Y,Y,0,337500.0,876078.0,49050.0
190,100220,0,Cash loans,F,N,Y,0,225000.0,1040985.0,30568.5
192,100224,0,Cash loans,F,Y,Y,2,225000.0,1256400.0,36864.0
194,100226,0,Revolving loans,F,N,N,2,112500.0,270000.0,13500.0
196,100228,0,Cash loans,F,N,N,1,121500.0,1102500.0,32364.0
198,100230,0,Revolving loans,F,N,N,0,135000.0,405000.0,20250.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

找出包含NAN的column

In [17]:
app_train.isnull().any()

SK_ID_CURR                    False
TARGET                        False
NAME_CONTRACT_TYPE            False
CODE_GENDER                   False
FLAG_OWN_CAR                  False
FLAG_OWN_REALTY               False
CNT_CHILDREN                  False
AMT_INCOME_TOTAL              False
AMT_CREDIT                    False
AMT_ANNUITY                    True
AMT_GOODS_PRICE                True
NAME_TYPE_SUITE                True
NAME_INCOME_TYPE              False
NAME_EDUCATION_TYPE           False
NAME_FAMILY_STATUS            False
NAME_HOUSING_TYPE             False
REGION_POPULATION_RELATIVE    False
DAYS_BIRTH                    False
DAYS_EMPLOYED                 False
DAYS_REGISTRATION             False
DAYS_ID_PUBLISH               False
OWN_CAR_AGE                    True
FLAG_MOBIL                    False
FLAG_EMP_PHONE                False
FLAG_WORK_PHONE               False
FLAG_CONT_MOBILE              False
FLAG_PHONE                    False
FLAG_EMAIL                    False
OCCUPATION_TYPE                True
CNT_FAM_MEMBERS                True
                              ...
DEF_30_CNT_SOCIAL_CIRCLE       True
OBS_60_CNT_SOCIAL_CIRCLE       True
DEF_60_CNT_SOCIAL_CIRCLE       True
DAYS_LAST_PHONE_CHANGE         True
FLAG_DOCUMENT_2               False
FLAG_DOCUMENT_3               False
FLAG_DOCUMENT_4               False
FLAG_DOCUMENT_5               False
FLAG_DOCUMENT_6               False
FLAG_DOCUMENT_7               False
FLAG_DOCUMENT_8               False
FLAG_DOCUMENT_9               False
FLAG_DOCUMENT_10              False
FLAG_DOCUMENT_11              False
FLAG_DOCUMENT_12              False
FLAG_DOCUMENT_13              False
FLAG_DOCUMENT_14              False
FLAG_DOCUMENT_15              False
FLAG_DOCUMENT_16              False
FLAG_DOCUMENT_17              False
FLAG_DOCUMENT_18              False
FLAG_DOCUMENT_19              False
FLAG_DOCUMENT_20              False
FLAG_DOCUMENT_21              False
AMT_REQ_CREDIT_BUREAU_HOUR     True
AMT_REQ_CREDIT_BUREAU_DAY      True
AMT_REQ_CREDIT_BUREAU_WEEK     True
AMT_REQ_CREDIT_BUREAU_MON      True
AMT_REQ_CREDIT_BUREAU_QRT      True
AMT_REQ_CREDIT_BUREAU_YEAR     True
Length: 122, dtype: bool

找出每個column NAN的數量

In [18]:
app_train.isnull().sum()

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                   202929
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
                               ...
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 122, dtype: int64

找出所有NAN的數量

In [19]:
app_train.isnull().sum().sum()

9152465

根據邏輯條件選出符合的資料

In [25]:
app_train[np.logical_and(app_train['CODE_GENDER'] == 'M', app_train['NAME_CONTRACT_TYPE'] == 'Cash loans')]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
15,100019,0,Cash loans,M,Y,Y,0,157500.0,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.0,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
24,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
27,100032,0,Cash loans,M,N,Y,1,112500.0,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.0,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
33,100039,0,Cash loans,M,Y,N,1,360000.0,733315.5,39069.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
37,100044,0,Cash loans,M,N,Y,0,121500.0,454500.0,15151.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
44,100051,0,Cash loans,M,N,Y,0,202500.0,661702.5,48280.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
49,100056,0,Cash loans,M,Y,Y,0,360000.0,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
54,100062,0,Cash loans,M,Y,N,0,81000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
61,100072,0,Cash loans,M,N,N,0,180000.0,1080000.0,44118.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
62,100073,0,Cash loans,M,Y,Y,0,324000.0,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
64,100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
65,100077,0,Cash loans,M,N,Y,0,180000.0,1256400.0,40657.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
69,100081,0,Cash loans,M,Y,N,0,180000.0,450000.0,21109.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
70,100082,0,Cash loans,M,N,N,2,180000.0,450000.0,21109.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
72,100084,0,Cash loans,M,N,Y,2,225000.0,495351.0,26140.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
73,100085,0,Cash loans,M,N,Y,1,157500.0,755190.0,28894.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
77,100089,0,Cash loans,M,N,Y,0,135000.0,337761.0,15781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307396,456129,0,Cash loans,M,N,Y,0,135000.0,298512.0,29655.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307400,456133,0,Cash loans,M,N,Y,0,67500.0,47970.0,5296.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307405,456138,0,Cash loans,M,N,Y,0,49500.0,432661.5,26419.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307415,456148,0,Cash loans,M,Y,Y,0,180000.0,589045.5,30204.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307421,456154,0,Cash loans,M,Y,Y,0,157500.0,144000.0,9751.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307423,456156,0,Cash loans,M,N,N,0,90000.0,119448.0,7632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
307432,456165,0,Cash loans,M,N,Y,0,135000.0,840951.0,42934.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307433,456171,1,Cash loans,M,N,Y,0,50400.0,113760.0,7731.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307435,456173,0,Cash loans,M,Y,Y,0,189000.0,675000.0,19737.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307438,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307439,456177,0,Cash loans,M,N,Y,0,247500.0,900000.0,50386.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307442,456180,0,Cash loans,M,Y,Y,1,135000.0,90000.0,9580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307446,456184,1,Cash loans,M,N,N,0,270000.0,900000.0,40671.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307448,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307449,456187,0,Cash loans,M,Y,Y,1,315000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307451,456190,0,Cash loans,M,Y,N,1,450000.0,545040.0,25407.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307454,456193,0,Cash loans,M,N,N,0,157500.0,1332000.0,39078.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307455,456194,0,Cash loans,M,N,Y,1,157500.0,225000.0,15165.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307459,456198,0,Cash loans,M,Y,Y,0,225000.0,959017.5,49095.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307460,456199,0,Cash loans,M,Y,N,1,382500.0,745429.5,24354.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307474,456214,0,Cash loans,M,Y,Y,2,135000.0,360000.0,23004.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307487,456231,0,Cash loans,M,N,Y,0,117000.0,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307490,456234,0,Cash loans,M,N,Y,0,81000.0,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.0,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307494,456238,0,Cash loans,M,Y,N,1,270000.0,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN