## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [20]:
data = {'國家': np.arange(10),
        '人口': np.random.randint(10,size=10)}
data = pd.DataFrame(data)

In [21]:
data

   人口  國家
0   2   0
1   4   1
2   2   2
3   8   3
4   6   4
5   0   5
6   6   6
7   3   7
8   7   8
9   0   9

In [16]:
#data.sort_values(by='人口')

In [25]:
# 人口數最多的國家
data.iloc[data['人口'].idxmax(),:]

人口    8
國家    3
Name: 3, dtype: int32